﻿@page
@model Otus.Teaching.PromoCodeFactory.WebHost.Pages.Customer.IndexModel
@{
}
<h1>Customer SignalR</h1>
<div>
    <button id="getCustomers" type="submit" style="background: #61affe">Get All Customers</button>
    <span> aka Get</span>
</div>
<div>
    <textarea id="customers" rows="6" placeholder="Customers Response" style="width: 400px"></textarea>
</div>
<hr />
<div>
    <button id="getCustomer" type="submit"  style="background: #61affe">GetCustomer by Id</button>
    <span> aka Get {Id}</span>
</div>
<div>
    <input id="customerId" placeholder="Guid" style="width: 200px" />
</div>
<div>
    <textarea id="customer" rows="6" placeholder="Customer with Preferences Response" style="width: 400px"></textarea>
</div>
<hr />
<div>
    <button id="createCustomer" type="submit" style="background: #49cc90;">Create Customer</button>
    <span> aka Post</span>
</div>
<div>
    <textarea id="createCustomerRequest" rows="6" placeholder="Customer with Preferences" style="width: 400px"></textarea>
</div>
<div>
    <textarea id="createCustomerResponse" rows="6" placeholder="Customer with Preferences Response" style="width: 400px"></textarea>
</div>


<hr />
<div>
    <button id="deleteCustomer" type="submit" style="background: #f93e3e;">Delete Customer by Id</button>
    <span> aka Delete {Id}</span>
</div>
<div>
    <input id="deleteCustomerId" placeholder="Guid" style="width: 200px" />
</div>
<div>
    <textarea id="deleteCustomerResponse" rows="2" placeholder="Response" style="width: 400px"></textarea>
</div>

<hr />
<div>
    <button id="editCustomer" type="submit" style="background: #fca130;">Edit Customer by Id</button>
    <span> aka Patch {Id}</span>
</div>
<div>
    <input id="editCustomerId" placeholder="Guid" style="width: 200px" />
</div>
<div>
    <textarea id="editCustomerRequest" rows="6" placeholder="Customer with Preferences" style="width: 400px"></textarea>
</div>
<div>
    <textarea id="editCustomerResponse" rows="2" placeholder="Response" style="width: 400px"></textarea>
</div>
<hr/>
<p>Ниже будут появлятся события об изменения в Customer через SignalR</p>
<div id="eventroom"></div>


<script src="~/microsoft/signalr/dist/browser/signalr.js">
</script>
<script>
    let connection = new signalR.HubConnectionBuilder()
        .withUrl("/customerhub")
        .configureLogging(signalR.LogLevel.Information)
        .build();

    async function start() {
        try {
            await connection.start();
            console.log("SignalR Connected.");
        } catch (err) {
            console.log(err);
            setTimeout(start, 5000);
        }
    };

    connection.on('Notify',
        function (connectionId, message) {
            showEvent(connectionId, message);
        });

    function getDateTime() {
        var today = new Date();
        const dd = String(today.getDate()).padStart(2, '0');
        const mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
        const yyyy = today.getFullYear();

        const hh = String(today.getHours()).padStart(2, '0');
        const MM = String(today.getMinutes()).padStart(2, '0');
        const ss = String(today.getSeconds()).padStart(2, '0');

        today = dd + '-' + mm + '-' + yyyy + " " + hh + ':' + MM +':' + ss;
        return today;
    };
    function showEvent(connectionId, message) {
        const elem = document.createElement("p");
        elem.appendChild((document.createTextNode(`[${getDateTime()}]: `)));
                
        const usernameElem = document.createElement("b");
        usernameElem.appendChild((document.createTextNode(`${connectionId}: `)));
                
        elem.appendChild(usernameElem);
        elem.appendChild((document.createTextNode(`${message}`)));

        const firstElem = document.getElementById("eventroom").firstChild;
        document.getElementById("eventroom").insertBefore(elem, firstElem);
    };

    connection.onclose(start);

    start();


    document.getElementById("getCustomers").addEventListener("click",
        function (e) {
            connection.invoke("GetCustomersAsync").then(
                x => {
                    var elem = document.getElementById("customers");
                    console.log(x);
                    elem.value = JSON.stringify(x, null, ' ');
                });

        });

    document.getElementById("getCustomer").addEventListener("click",
        function (e) {
            const id = document.getElementById("customerId").value;

            connection.invoke("GetCustomerAsync", id).then(
                x => {
                    var elem = document.getElementById("customer");

                    elem.value = JSON.stringify(x, null, ' ');
                });

        });

    document.getElementById("createCustomer").addEventListener("click",
        function (e) {
            const request = document.getElementById("createCustomerRequest").value;

            connection.invoke("CreateCustomerAsync", JSON.parse(request)).then(
                x => {
                    var elem = document.getElementById("createCustomerResponse");

                    elem.value = JSON.stringify(x, null, ' ');
                });

        });

    document.getElementById("deleteCustomer").addEventListener("click",
        function (e) {
            const id = document.getElementById("deleteCustomerId").value;

            connection.invoke("DeleteCustomerAsync", id).then(
                x => {
                    var elem = document.getElementById("deleteCustomerResponse");
                    console.log(x);
                    elem.value = x;
                });

        });

    document.getElementById("editCustomer").addEventListener("click",
        function (e) {
            const id = document.getElementById("editCustomerId").value;
            const request = document.getElementById("editCustomerRequest").value;
            connection.invoke("EditCustomersAsync", id, JSON.parse(request)).then(
                x => {
                    var elem = document.getElementById("editCustomerResponse");
                    console.log(x);
                    elem.value = x;
                });

        });

</script>
